node_modules

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks

# Build artifacts
dist/
cjs/
esm/
bundle/
*.tgz
*.tar.gz
packages/node-server/src/.dts-entry.ts

# IDEs
.idea/
.DS_Store
.env
