bundle
cjs
esm
dist
coverage
.yarn
test/**/dist
yarn.lock
/docs
test-app/dist
test-app/node_modules
test-app/*.tgz
packages/core/test/ffe-system-test-data
packages/node-server/index.d.ts
packages/core/src/configuration/generated
